<table id="skills_table" cellpadding="2" border="0">
    <tr>
      <th>&nbsp;</th>
      <th>Total</th>
      <th>Skill</th>
<% for(var i=0; i<TYPES.length; i++) { %>
      <td><%= TYPES[i] %></td>
<% } %>
    </tr>
<% for(var i=0; i<skill_names.length; i++) { %>
    <tr>
    <td><%= skill_names[i] %></td>
    <td class="num"><%= skills[skill_names[i]] %></td>
    <td title="<%= active_skills[skill_names[i]]
            ? active_skills[skill_names[i]]["description"] : "No Skills" %>"
         ><%= active_skills[skill_names[i]]
            ? active_skills[skill_names[i]]["name"] : "&nbsp;" %></td>
    <% for(var j=0; j<TYPES.length; j++) { %>
    <td class="num">
      <%= (armors[TYPES[j]] && tskills_by_type[TYPES[j]][skill_names[i]])
          ? tskills_by_type[TYPES[j]][skill_names[i]]
          : "&nbsp;" %>
    </td>
    <% } %>
    </tr>
<% } %>
</table>
