<tr>
<td><% if (final == 1) { %>
      <strong>*</strong>
    <% } else { %>
      &nbsp;
    <% } %>
</td>
<td>
  <a href="weaponplanner.html?weapon=<%= encodeURIComponent(name) %>"
        ><%= name %></a>
</td>
<td><%= wtype_short %></td>
<td style="text-align:right"><%= attack %></td>
<td style="text-align:right"><% if (affinity) { %><%= affinity %>%<% } %></td>
<td>
<% if (awaken) { %>
  (<img style="height:.8em" title="Awaken <%= awaken %>"
            src="img/<%= awaken %>.png" /><%= awaken_attack %>
            <%= ELEMENT_ABBR[awaken] %>)
<% } else if (element) { %>
  <img style="height:.8em" title="<%= element %>"
            src="img/<%= element %>.png" /> <%= element_attack %>
            <%= ELEMENT_ABBR[element] %>
  <% if (element_2) { %>
    <img style="height:.8em" title="<%= element_2 %>"
            src="img/<%= element_2 %>.png" /> <%= element_2_attack %>
            <%= ELEMENT_ABBR[element_2] %>
  <% } %>
<% } %>
</td>
<td><%= Array(num_slots + 1).join("o")
     %><%= Array(3 - num_slots + 1).join("-") %></td>
<td>
<div class="sharpness-bar" title="<%= sharpness_all_title %>">
<span style="width:<%= sharpness[0] %>px" class="red"></span>
<span style="width:<%= sharpness[1] %>px" class="orange"></span>
<span style="width:<%= sharpness[2] %>px" class="yellow"></span>
<span style="width:<%= sharpness[3] %>px" class="green"></span>
<span style="width:<%= sharpness[4] %>px" class="blue"></span>
<span style="width:<%= sharpness[5] %>px" class="white"></span>
<span style="width:<%= sharpness[6] %>px" class="purple"></span>
</div>
<div class="sharpness-bar" title="<%= sharpness_all_title %>">
<span style="width:<%= sharpness_plus[0] %>px" class="red"></span>
<span style="width:<%= sharpness_plus[1] %>px" class="orange"></span>
<span style="width:<%= sharpness_plus[2] %>px" class="yellow"></span>
<span style="width:<%= sharpness_plus[3] %>px" class="green"></span>
<span style="width:<%= sharpness_plus[4] %>px" class="blue"></span>
<span style="width:<%= sharpness_plus[5] %>px" class="white"></span>
<span style="width:<%= sharpness_plus[6] %>px" class="purple"></span>
</div>
</td>
<td><%= defense ? "+" + defense + " Def" : "" %></td>
<td><%= phial %></td>
</tr>
